# The following sections need to be copied and pasted into your printer.cfg file
# The [safe_z_home] section in your printer.cfg should be commented out.  Ensure any specialty coding you may have in 
# your [safe_z_home] routine makes its way into the [homing_override section]

[force_move]
# Enable commands that force potentially unsafe movement
enable_force_move: True

[homing_override]
gcode:
#   A list of G-Code commands to execute in place of G28 commands
#   found in the normal g-code input. See docs/Command_Templates.md
#   for G-Code format. If a G28 is contained in this list of commands
#   then it will invoke the normal homing procedure for the printer.
#   The commands listed here must home all axes. This parameter must
#   be provided.

#############################################################################
# Set these to the XY coordinates you would like the printer to home Z with #
#############################################################################
  {% set home_pos_x = 150|int %}
  {% set home_pos_y = 150|int %}

  {% if "xy" not in printer.toolhead.homed_axes %}                    # Check to see if X and Y have not been homed yet 
    G90                                                               # Use Absolute Coordinates
    SET_KINEMATIC_POSITION Z=0                                        # -=*DEFINE*=- the current Z position as 0
    G0 Z10                                                            # Raise Z by 10mm from the current position **POTENTIALLY DANGEROUS**
    G28 X Y                                                           # Home X and Y axes
  {% endif %}
  
  {% set sled_state = printer["filament_switch_sensor turdherd"] %}   # Query the state of the sled sensor
  {% if not sled_state.filament_detected %}                           # Check if sled sensor is not triggered
    RESPOND MSG="TURDHERDER is EXTENDED.  Retracting for Safe Home."
    SET_SERVO SERVO=TURDHERDER ANGLE=90                                # Retract Sled
    # ADD DUMMY CHECKING HERE
  {% endif %}
  
  G0 X{home_pos_x} Y{home_pos_y} F18000                               # Move to Z home pos    
  G28 Z                                                               # Home Z
  G0 Z10                                                              # Raise Z to 10  
    
#   The axes to override. For example, if this is set to "z" then the
#   override script will only be run when the z axis is homed (eg, via
#   a "G28" or "G28 Z0" command). Note, the override script should
#   still home all axes. 
axes: z

#                                                                                                     #
# --------------------------------------------------------------------------------------------------- #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
# --------------------------------------------------------------------------------------------------- #
#                                                                                                     #

#########################################################
# THE FOLLOWING CHANGES NEED TO BE MADE TO YOUR /AFC/AFC.CFG #
#########################################################

# TOOL Cutting Settings
tool_cut: True # Enable Cut macro.
tool_cut_cmd: AFC_CUT           # Cut macro name.

# Park Settings
park: True # Enable Park.                              # <-- Set to TRUE
park_cmd: TURDHERDER_PARK                              # <-- Set to TURDHERDER_PARK

# Poop Settings
poop: True # Enable Poop.                              # <-- Set to TRUE
poop_cmd: TURDHERDER                                   # <-- Set to TURDHERDER

# Kick Settings
kick: False # Enable Kick.                             # <-- Set to FALSE
kick_cmd: AFC_KICK              # Kick macro name.

# Wipe Settings
wipe: False # Enable Wipe.                             # <-- Set to  FALSE
wipe_cmd: AFC_BRUSH             # Wipe macro name.

