[gcode_macro PRINT_START]
gcode:
 
  {% set target_bed = params.BED|int %}                  # Target bed temperature
  {% set target_extruder = params.EXTRUDER|int %}        # Target nozzle temperature
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}  # Bed center X
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}  # Bed center Y
  {% set target_touch = 150|int %}

  _SET_MPC_MATERIAL MATERIAL={params.MATERIAL}
 
  STOP_LED_EFFECTS
  SET_LED LED=Caselight_LEDS RED=1 GREEN=1 BLUE=1 WHITE=1

  SET_GCODE_OFFSET Z=0
  G28
  
  # Heat and continue
  STATUS_HEATING
  M140 S{target_bed}
  M104 S{target_touch}
  
  STATUS_BUSY
  SYNC_MOTORS
  G90                                                    # Set to absolute positioning

  STATUS_HEATING
  SET_DISPLAY_TEXT MSG="Heating Bed: {target_bed}°C"     # Display bed heating message
  G1 X{x_wait} Y{y_wait} Z15 F9000                       # Move to bed center
  M104 S{target_touch}
  M190 S{target_bed}                                     # Wait for bed to reach target temperature

  STATUS_LEVELING
  SET_DISPLAY_TEXT MSG="Leveling..."                    # Display leveling message
  Z_TILT_ADJUST                                          # Perform Z tilt adjustment
  STATUS_HOMING
  G28 Z            
  
  STATUS_HEATING
  M109 S{target_touch}
  
  SET_DISPLAY_TEXT MSG="Cleaning Nozzle"
  STATUS_BUSY
  KOMB

  SET_DISPLAY_TEXT MSG="Calibrating Z Offset"            # Display Z offset calibration message
  STATUS_CALIBRATING_Z
  CARTOGRAPHER_TOUCH                                      # Re-home Z after adjustment

  STATUS_MESHING
  SET_DISPLAY_TEXT MSG="Bed Mesh Calibration"            # Display mesh calibration message
  BED_MESH_CALIBRATE ADAPTIVE=1                                    # Perform bed mesh calibration                                 

  STATUS_HEATING
  SET_DISPLAY_TEXT MSG="Heating Nozzle: {target_extruder}°C" # Display nozzle heating message
  G1 X{x_wait} Y{y_wait} Z15 F9000                       # Move to bed center
  M109 S{target_extruder}                                # Heat nozzle to target temperature


  STATUS_PRINTING
  SET_DISPLAY_TEXT MSG="Preparing to Print..."           # Display preparation message
  
  #SET_GCODE_OFFSET Z=0.04
  
  G90
  VORON_PURGE
  SET_DISPLAY_TEXT MSG="Printing..."

  
